{% extends 'base.html.twig' %}

{% block title %}Testing{% endblock %}

{% block body %}
<div id="wrapper">
    <div id="container">
        <div id="welcome">
            {{ test }}
        </div>
    </div>
</div>
{% endblock %}